.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0px;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}
.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}
.hero__heading span {
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2b32b2,
    #32a8f1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2b32b2,
    #36b5ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.2s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#colu:hover {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.2s ease;
  font-size: 101px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hero__desc {
  font-size: 60px;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f0eff, #da22ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: all 0.3s ease;
}
.hero__desc:hover {
  transition: all 0.3s ease;
  font-size: 61px;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f0eff, #da22ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}
@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }
  #colu:hover {
    font-size: 62px;
  }
  .hero__desc {
    font-size: 40px;
  }
  .hero__desc:hover {
    font-size: 42px;
    background: #1eeefd;
    background: linear-gradient(to left, #54f8f0, #24f7db);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
