@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}
.navbar {
  background-color: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  padding: 0 50px;
}
.nav_Logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 16%;
}
#navbar__logo {
  background: #fc00ff;
  background-image: linear-gradient(to right, #fc00ff, #00dbde);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  /* text-shadow: 1px 1px 5px rgba(66, 15, 243, 0.8); */
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar__item {
  height: 80px;
}
.navbar__links {
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}
.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
  transition: all 0.3s ease;
}
.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.navbar__links:hover {
  color: #0084ff;
  transition: all 0.3s ease;
  font-size: 1.4rem;
}
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* width: 1300px; */
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: -1;
    background: #131313;
  }
  .navbar__menu.active {
    background: #131313;
    top: 60%;
    opacity: 1;
    transform: all 0.5 ease;
    /* z-index: 9; */
    height: 60vh;
    font-size: 1.6rem;
  }
  .navbar__links:hover {
    color: #0084ff;
    transition: all 0.3s ease;
    font-size: 1.8rem;
  }
  .nav_Logo {
    display: flex;
    margin: auto;
    width: 39%;
  }
  .nav_Logo img {
    height: 59px;
  }
  #navbar__logo {
    font-size: 1.5rem;
  }
  .navbar__toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fc00ff;
    background: -webkit-linear-gradient(to left, #00dbde, #fc00ff);
    background: linear-gradient(to left, #00dbde, #fc00ff);
    border-radius: 4px;
    cursor: pointer;
  }
  .navbar__item {
    width: 100%;
    margin: -100px 0px;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 80px;
  }
  #mobile_menu {
    display: block;
    position: absolute;
    top: 23%;
    right: 9%;
    transform: translate(5%, 20%);
  }
  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translate(0px, 8px) rotate(45deg);
    background: #0066fe; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00f8e3,
      #1ec7fa
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00f8d7, #165df8);
    width: 30px;
    transition: all 0.3s ease;
  }
  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translate(0px, -8px) rotate(-45deg);
    background: #0066fe; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #00f8e3,
      #1ec7fa
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00f8d7, #165df8);
    width: 30px;
  }
}
